/* placeholder comment */

@media screen and (min-width: 361px) and (max-width: 760px){

    .nav-link-panel>a {
        font-size: 20px;
    }

    /* psudo logical classes */
    .hide-if-sm {
        display: none;
    }

    .column.sm-col-100 {
        width: 100%;
    }
    .column.sm-col-90 {
        width: 90%;
    }
    .column.sm-col-80 {
        width: 80%;
    }
    .column.sm-col-75 {
        width: 75%;
    }
    .column.sm-col-70 {
        width: 70%;
    }
    .column.sm-col-60 {
        width: 60%;
    }
    .column.sm-col-50 {
        width: 50%
    }
    .column.sm-col-40 {
        width: 40%;
    }
    .column.sm-col-33 {
        width: 33%;
    }
    .column.sm-col-30 {
        width: 30%;
    }
    .column.sm-col-25 {
        width: 25%;
        padding: 0.5%;
    }
    .column.sm-col-20 {
        width: 20%;
    }
    .column.sm-col-10 {
        width: 10%;
    }

}
