/* placeholder comment */

@media screen and (min-width: 0px) and (max-width: 360px){

    .main-header {
        width: 100%;
        margin: 8px 8px 0 0;
        text-align: center;
    }
    .main-header>h1 {
        font-size: 36px;
    }

    .nav-link-panel>a {
        font-size: 16px;
    }

    /* psudo logical classes */
    .hide-if-xs {
        display: none;
    }

    .column.xs-col-100 {
        width: 100%;
    }
    .column.xs-col-90 {
        width: 90%;
    }
    .column.xs-col-80 {
        width: 80%;
    }
    .column.xs-col-75 {
        width: 75%;
    }
    .column.xs-col-70 {
        width: 70%;
    }
    .column.xs-col-60 {
        width: 60%;
    }
    .column.xs-col-50 {
        width: 50%
    }
    .column.xs-col-40 {
        width: 40%;
    }
    .column.xs-col-33 {
        width: 33%;
    }
    .column.xs-col-30 {
        width: 30%;
    }
    .column.xs-col-25 {
        width: 25%;
        padding: 0.5%;
    }
    .column.xs-col-20 {
        width: 20%;
    }
    .column.xs-col-10 {
        width: 10%;
    }

}
